body {
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 29);
  .mobile-navbar{
    display: none;
  }
input{
  border: 0;
}
  .signup-form{
    max-width: 700px;
    padding: 20px;
    min-width: 300px;
    border-radius: 5px;
    margin: 10%;
    margin-top: 5% !important;
    padding-right: 40px;

    .name-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between !important;
      max-width: 500px;
      min-width: 300px;
      gap: 20px;
      @media screen and (max-width: 700px) {
        flex-wrap: wrap !important;
        gap: 20px !important;
      }
    }
    .name-field {
      // padding: 5px 10px;
      border-radius: 20px !important;
      margin-bottom: 0;
border: 1px solid white ;
      width: 240px !important;
      padding: 5px 10px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      background-color: rgb(39, 38, 38) !important;
      background: transparentize($color: rgb(15, 14, 14), $amount: 0.2);
      &:hover {
        border: 4px solid orange;
      }
    }
  }
  .passfield{
    display: flex;
    justify-content: space-between;
    .eye{
      height: 100%;
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
      
    }}


  .form-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    p {
      font-size: 15px;
      color: grey;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    h2 {
      margin-top: -10px;
      font-weight: 700;
      font-family: sans-serif;
      font-size: 30px;
      color: white;
      span {
        color: orange;
        font-size: 30px;
      }
    }
    span {
      margin-top: -15px;
      color: rgb(175, 175, 175);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      a {
        color: orange;
      }
    }
  }

  // .signup-form h2 {
  //   margin-top: 0;
  //   margin-bottom: 20px;
  //   text-align: center;
  // }

  .form-field {
    margin: 20px 0;
    padding: 5px 10px;
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 38, 38) !important;
    max-width: 485px;
    min-width: 300px;
    background: transparentize($color: rgb(15, 14, 14), $amount: 0.2);
    &:hover {
      border: 4px solid orange;
    }
  }

  .form-field label,
  .name-field label {
    padding: 5px;
    color: rgb(170, 170, 170);
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .form-field input,
  .name-field input {
    outline: none;
    background-color: rgb(39, 38, 38) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding: 0 15px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    background: transparent;
    padding-bottom: 5px;
  }
  .passfield{
    display: flex;
    justify-content: space-between;
    .eye{
      height: 100%;
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
      
    }}
  .form-actions {
    display: flex;
    margin-top: 30px;
    button {
      display: inline-block;
      padding: 15px 20px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      background-color: orange;
      border: none;
      cursor: pointer;
      &:hover{
        border: 4px solid white;
      }
    }
  }
}
.top {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 7vh;
  margin: 0 !important;
  .navbar {
    width: 74%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    a {
      text-decoration: none !important;
      color: #fff !important;
    }
    ul {
      display: flex;
      gap: 25px;
      align-items: center;
      .active {
        color: orange !important;
      }

      li {
        list-style: none;
        color: #fff;
        align-items: center;
        text-align: center;
        a {
          &:hover {
            color: orange !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .signup-form{
    margin-left: 0 !important;
  }
  .form-header {
    h2 {
      margin-top: -10px;
      font-weight: 600 !important;
      font-family: sans-serif;
      font-size: 25px !important;
      color: white;
      span {
        color: orange;
        font-size: 30px !important;
        margin-left: 5px;
      }
    }

  }
.form-field{
  i{
    margin-top: -10px;
    margin-left: 80px !important;
    }
}
  .top {
    border-bottom: 0;
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
    .mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      padding-right: 20px;
      padding-top: 2px;
      i {
        color: grey;
        font-size: 7vw;
      }
    }
    .navbar {
      display: none !important;
    }
  }

  input {
    border: 0;
  }
  .mobile-navbar {
    margin-top: 0 !important;
    gap: 10px;
    padding-top: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    height: 100% !important;
    width: 300px;
    right: -2000px;
    top: 0;
    margin-left: 50%;
    background-color: rgb(51, 51, 51);
    // background: opacify($color: , $amount: 0);
    align-items: start;
    color: black !important;
    transition: 0.3s !important;
    .cancel {
      padding-top: 0;
      display: flex;
      color: white;
      padding-bottom: 20px;
      i {
        font-size: 7vw;
      }
    }
    li {
      padding-top: 20px;
      list-style: none;
      color: white;
      align-items: center;
      text-align: center;
      .active {
        color: orange;
      }
      #login {
        border: 1px solid orange;
        padding: 10px 25px;
        border-radius: 20px;
        &:hover {
          background-color: orange !important;
          color: white !important;
        }
      }
      #signup {
        border: 1px solid orange;
        background-color: orange;
        padding: 10px 25px;
        border-radius: 20px;
        &:hover {
          background: transparent;
          color: white !important;
        }
      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: orange !important;
        }
      }
    }
  }
}
