body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 11, 11) !important;
}

p {
  font-weight: 400;
  font-size: 16px;
}

#loading {
  width: 100%;
  justify-content: center;
}

#preloader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

input {
  border: 0;
}

#ticket {
  width: 400px;
  height: 350px;
  margin: auto;
  margin-top: -50px !important;
  background-color: gray;
  background: rgba(128, 128, 128, 0.9);
}
#ticket .ticket-header {
  width: 80%;
  margin: auto;
  display: flex;
  border-bottom: 1px solid orange;
  justify-content: space-between;
  color: white;
}
#ticket .ticket-header button {
  border: 0;
  padding: 0;
  background: transparent;
  color: black;
}
#ticket .ticket-body {
  margin-top: 20px !important;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}
#ticket .ticket-body p {
  margin-top: -7px;
}
#ticket .ticket-end {
  margin-top: -40px !important;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#ticket .ticket-end p {
  color: orange;
}
#ticket .ticket-end .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#ticket .ticket-end .buttons button {
  border: 0;
  color: white;
  background-color: black;
}
#ticket .ticket-end .buttons button:hover {
  color: black;
  background-color: orange;
}

#first-reservation {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
  gap: 30px;
  align-items: center;
}
#first-reservation #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#first-reservation #reservation-removal {
  height: 100%;
}
#first-reservation #reservation-removal button {
  background: red;
  padding: 5px 10px;
  border: 0;
  color: white;
}

.booking-fields {
  color: white;
  margin-top: -30px;
  margin-right: -3000px;
  transition: 0.3s;
  height: 80%;
  justify-content: center;
  display: none;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 80%;
}

.top {
  position: absolute;
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 7vh;
  margin: 0 !important;
}
.top .navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.top .navbar a {
  text-decoration: none !important;
  color: #fff !important;
}
.top .navbar ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
.top .navbar ul .active {
  color: orange !important;
}
.top .navbar ul li {
  list-style: none;
  color: #fff;
  align-items: center;
  text-align: center;
}
.top .navbar ul li a:hover {
  color: orange !important;
}

.banner {
  height: auto;
  gap: 50px !important;
  background-color: black;
  background-image: url(Images/newbackalt2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.banner .mobile-navbar {
  display: none;
}
.banner .mid-button {
  display: none;
}
.banner .intro {
  width: 80%;
  margin: auto !important;
  justify-content: center;
  text-align: center;
  margin-top: 15% !important;
  color: white;
}
.banner .intro-header {
  width: 100%;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4vw;
}
.banner .intro-body {
  margin: auto;
  width: 80%;
  font-family: monospace;
  font-size: 25px;
}
.banner .ticket {
  margin-top: 50px !important;
}
.banner .ticket, .banner .mobile-ticket {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 150px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  border-radius: 10px;
}
.banner .ticket i, .banner .mobile-ticket i {
  color: white;
  font-size: 20px !important;
}
.banner .ticket span, .banner .mobile-ticket span {
  display: none;
}
.banner .ticket form, .banner .mobile-ticket form {
  display: flex;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.banner .ticket:before, .banner .mobile-ticket:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
.banner .ticket-buttons, .banner .mobile-ticket-buttons {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.banner .ticket-buttons button, .banner .mobile-ticket-buttons button {
  border: 0;
  background: 0;
  color: white;
}
.banner .ticket-buttons button:hover, .banner .mobile-ticket-buttons button:hover {
  color: orange;
}
.banner .ticket-buttons button:first-child, .banner .mobile-ticket-buttons button:first-child {
  margin-left: 48px;
}
.banner .ticket-fields, .banner .mobile-ticket-fields {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-top: 25px;
  align-items: center;
  transition: 0.4s;
}
.banner .ticket-fields form, .banner .mobile-ticket-fields form {
  width: 100%;
  margin: auto;
}
.banner .ticket-fields .field, .banner .mobile-ticket-fields .field {
  justify-content: center;
}
.banner .ticket-fields select,
.banner .ticket-fields #datepicker, .banner .mobile-ticket-fields select,
.banner .mobile-ticket-fields #datepicker {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  padding-left: 5px;
  color: grey;
}
.banner .ticket-fields-button button, .banner .mobile-ticket-fields-button button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: orange;
  border: 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1vw;
  text-align: center;
  justify-content: center;
}
.banner .ticket-fields-button button:hover, .banner .mobile-ticket-fields-button button:hover {
  background-color: white;
  color: black;
}
.banner .closure {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 5vh;
}
.banner .closure .link {
  color: orange;
  margin-left: 10px;
  cursor: pointer;
}
.banner .closure .link:hover {
  color: white;
}
.banner .closure p {
  color: white;
}

.about-section {
  height: auto !important;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: auto;
}
.about-intro {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}
.about-intro .header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  width: 50%;
  font-weight: 500;
}
.about-intro .body {
  width: 50%;
  font-family: sans-serif;
  font-size: 18px;
}
.about-buttons {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin-top: 40px;
}
.about-buttons .active {
  color: orange;
}
.about-buttons button {
  border: 0;
  background: 0;
  color: white;
}
.about-buttons button:hover {
  color: orange;
}
.about-body {
  display: flex;
}
.about-body-images {
  width: auto !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between !important;
  margin-top: 10px;
  gap: 20px;
}
.about-body-images .upper-images {
  width: 400px;
  display: flex;
  gap: 20px;
  height: 200px;
}
.about-body-images .upper-images-1, .about-body-images .upper-images-2 {
  width: 250px;
  height: 100%;
}
.about-body-images .upper-images-1 img, .about-body-images .upper-images-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.about-body-images .lower-image {
  width: 400px;
  height: 250px;
}
.about-body-images .lower-image img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.about-body-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 40px;
  margin-top: 20px;
  width: auto;
}
.about-body-about a {
  display: none;
}
.about-body-about .distance,
.about-body-about .ratings {
  width: 60%;
}
.about-body-about button {
  border: 0;
  padding: 13px 20px;
  background-color: orange;
  border-radius: 10px;
  color: white;
}
.about-body-about .intro p {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
}
.about-body-about .number {
  font-size: 2vw;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-body-about .km {
  font-size: 20px;
  font-weight: 100 !important;
  font-family: monospace;
}
.about-body-about .amount {
  color: orange;
  font-size: 30px;
}
.about-body-about .hero {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
}
.about-body-about .hero-header {
  font-weight: bold;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-body-about .hero-body {
  margin-left: 10px;
  font-size: 20px;
}
.about-body-about .numbers {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.about-body-about .numbers h4 {
  font-size: 18px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-body-about #rate {
  font-weight: 800;
  font-size: 1.2vw;
}
.about-body-about .people {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left !important;
}
.about-body-about .people h4 {
  font-size: 2vw;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.services-section {
  background-image: url(Images/serviceback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.services {
  height: auto;
  width: 80%;
  margin-top: 0 !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
}
.services .carousel-indicators {
  display: flex;
  gap: 15px;
}
.services .carousel-indicators .active {
  background-color: orange;
}
.services .carousel-indicators li {
  list-style: none !important;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 10px;
}
.services .carousel {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0 !important;
  height: 60%;
}
.services .carousel-item {
  width: 100%;
  height: 100%;
}
.services .carousel-item .body {
  width: 50%;
}
.services .carousel-item .card {
  margin-left: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 150px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  border-radius: 10px;
}
.services .carousel-item .card:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
.services .carousel-item .card h4 {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid orange;
  color: orange;
}
.services .carousel-item .card p {
  padding-left: 20px;
  color: white;
}

.article {
  height: auto;
  margin-top: 5vh !important;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.article-header {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
.article-header button {
  color: white;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
.article-header button:hover {
  color: orange;
}
.article-body {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 10px;
}
.article-body .card {
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(44, 43, 43);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.article-body .card a {
  display: none;
}
.article-body .card:hover {
  transform: scale(1.05);
  z-index: 1;
}
.article-body .card img {
  margin-top: 30px;
  width: 240px;
  display: flex;
  justify-content: center;
}
.article-body .card-body {
  text-align: left;
}
.article-body .card-body h5 {
  color: orange;
}

.travellers {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-bottom: 100px;
  width: 80%;
  margin: auto;
  color: white;
  padding-top: 100px;
}
.travellers .carousel {
  padding-top: 40px !important;
  height: auto;
  padding-bottom: 70px;
}
.travellers .carousel-indicators {
  display: flex;
  gap: 10px;
}
.travellers .carousel-indicators .active {
  color: orange;
}
.travellers .carousel-indicators li {
  list-style: none !important;
  font-size: 30px;
  color: white;
}
.travellers-header {
  display: flex;
}
.travellers-header p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
.travellers .travellers-body {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.travellers .travellers-body .one,
.travellers .travellers-body .two {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.travellers .travellers-body .one .image,
.travellers .travellers-body .two .image {
  width: 200px;
  height: 180px;
}
.travellers .travellers-body .one .image img,
.travellers .travellers-body .two .image img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.travellers .travellers-body .one .bio,
.travellers .travellers-body .two .bio {
  display: flex;
  flex-direction: column;
}
.travellers .travellers-body .one .bio .profile,
.travellers .travellers-body .two .bio .profile {
  display: flex;
  gap: 10px;
  align-items: center;
}
.travellers .travellers-body .one .bio .profile-image,
.travellers .travellers-body .two .bio .profile-image {
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 70px;
}
.travellers .travellers-body .one .bio .profile-image img,
.travellers .travellers-body .two .bio .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  position: absolute;
  height: 5vh;
  display: flex;
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 20px;
  color: white;
}
.footer-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul {
  display: flex;
  gap: 25px;
}
.footer-nav ul li {
  list-style: none;
}

#login-page {
  height: 100vh;
  width: 100%;
  background-color: rgb(29, 29, 29) !important;
}
#login-page .mobile-navbar {
  display: none;
}
#login-page .top {
  position: relative;
}
#login-page .top .navbar {
  width: 74%;
}
#login-page .login-form {
  max-width: 700px;
  padding-left: 40px;
  margin-top: 10%;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  #login-page .login-form {
    margin-top: 30%;
  }
}
#login-page .login-form .form-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#login-page .login-form .form-header h2 {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 22px;
  color: white;
}
#login-page .login-form .form-header span {
  color: rgb(175, 175, 175);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#login-page .login-form .form-header span a {
  color: orange;
  margin-left: 5px;
  font-size: 15px;
}
#login-page .login-form .passfield {
  display: flex;
  justify-content: space-between;
}
#login-page .login-form .passfield .eye {
  height: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
}
#login-page .login-form .passfield i {
  margin-top: -5px;
  margin-left: 30px !important;
}
#login-page .login-form .form-field {
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 38, 38) !important;
  max-width: 300px;
  min-width: 300px;
  background: rgba(15, 14, 14, 0.8);
  border: 3px solid white;
}
#login-page .login-form .form-field:hover {
  border: 4px solid orange;
}
#login-page .login-form .form-field label {
  color: rgb(170, 170, 170);
  font-size: 15px;
}
#login-page .login-form .form-field input {
  background: transparent;
  outline: 0;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#login-page .login-form .form-actions {
  display: flex;
  margin-top: 30px;
}
#login-page .login-form .form-actions button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: orange;
  border: none;
  cursor: pointer;
}
#login-page .login-form .form-actions button:hover {
  border: 4px solid white;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  #login-page .login-form {
    margin-left: 0 !important;
  }
  #login-page .login-form .passfield {
    display: flex;
    justify-content: space-between;
  }
  #login-page .login-form .passfield .eye {
    height: 100%;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
  #login-page .top {
    border-bottom: 0;
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
  }
  #login-page .top .mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
    padding-top: 2px;
  }
  #login-page .top .mobile i {
    color: grey;
    font-size: 7vw;
  }
  #login-page .top .navbar {
    display: none !important;
  }
  #login-page .mobile-navbar {
    height: 100%;
    gap: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    height: 100vh;
    width: 300px;
    right: -2000px;
    top: 0;
    margin-left: 50%;
    background-color: rgb(51, 51, 51);
    align-items: start;
    color: black !important;
    transition: 0.3s !important;
  }
  #login-page .mobile-navbar .cancel {
    padding-top: 0;
    display: flex;
    color: white;
    padding-bottom: 20px;
  }
  #login-page .mobile-navbar .cancel i {
    font-size: 7vw;
  }
  #login-page .mobile-navbar li {
    padding-top: 20px;
    list-style: none;
    color: white;
    align-items: center;
    text-align: center;
  }
  #login-page .mobile-navbar li .active {
    color: orange;
  }
  #login-page .mobile-navbar li #login {
    border: 1px solid orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  #login-page .mobile-navbar li #login:hover {
    background-color: orange !important;
    color: white !important;
  }
  #login-page .mobile-navbar li #signup {
    border: 1px solid orange;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  #login-page .mobile-navbar li #signup:hover {
    background: transparent;
    color: white !important;
  }
  #login-page .mobile-navbar li a {
    color: white;
    text-decoration: none;
  }
  #login-page .mobile-navbar li a:hover {
    color: orange !important;
  }
}

#signup-page {
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 29);
}
#signup-page .mobile-navbar {
  display: none;
}
#signup-page input {
  border: 0;
}
#signup-page .signup-form {
  max-width: 700px;
  padding: 20px;
  min-width: 300px;
  border-radius: 5px;
  margin: 10%;
  margin-top: 5% !important;
  padding-right: 40px;
}
#signup-page .signup-form .name-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  max-width: 500px;
  min-width: 300px;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  #signup-page .signup-form .name-fields {
    flex-wrap: wrap !important;
    gap: 20px !important;
  }
}
#signup-page .signup-form .name-field {
  border-radius: 20px !important;
  margin-bottom: 0;
  border: 1px solid white;
  width: 240px !important;
  padding: 5px 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 38, 38) !important;
  background: rgba(15, 14, 14, 0.8);
}
#signup-page .signup-form .name-field:hover {
  border: 4px solid orange;
}
#signup-page .form-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#signup-page .form-header p {
  font-size: 15px;
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#signup-page .form-header h2 {
  margin-top: -10px;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
}
#signup-page .form-header h2 span {
  color: orange;
  font-size: 30px;
}
#signup-page .form-header span {
  margin-top: -15px;
  color: rgb(175, 175, 175);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#signup-page .form-header span a {
  color: orange;
}
#signup-page .form-field {
  margin: 20px 0;
  padding: 5px 10px;
  border: solid 1px white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 38, 38) !important;
  max-width: 485px;
  min-width: 300px;
  background: rgba(15, 14, 14, 0.8);
}
#signup-page .form-field:hover {
  border: 4px solid orange;
}
#signup-page .form-field label,
#signup-page .name-field label {
  padding: 5px;
  color: rgb(170, 170, 170);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#signup-page .form-field input,
#signup-page .name-field input {
  outline: none;
  background-color: rgb(39, 38, 38) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 15px;
  border-radius: 40px;
  color: white;
  font-size: 15px;
  background: transparent;
  padding-bottom: 5px;
}
#signup-page .passfield {
  display: flex;
  justify-content: space-between;
}
#signup-page .passfield .eye {
  height: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
}
#signup-page .form-actions {
  display: flex;
  margin-top: 30px;
}
#signup-page .form-actions button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: orange;
  border: none;
  cursor: pointer;
}
#signup-page .form-actions button:hover {
  border: 4px solid white;
}
#signup-page .top {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 7vh;
  margin: 0 !important;
}
#signup-page .top .navbar {
  width: 74%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
#signup-page .top .navbar a {
  text-decoration: none !important;
  color: #fff !important;
}
#signup-page .top .navbar ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
#signup-page .top .navbar ul .active {
  color: orange !important;
}
#signup-page .top .navbar ul li {
  list-style: none;
  color: #fff;
  align-items: center;
  text-align: center;
}
#signup-page .top .navbar ul li a:hover {
  color: orange !important;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  #signup-page .signup-form {
    margin-left: 0 !important;
  }
  #signup-page .form-header h2 {
    margin-top: -10px;
    font-weight: 600 !important;
    font-family: sans-serif;
    font-size: 25px !important;
    color: white;
  }
  #signup-page .form-header h2 span {
    color: orange;
    font-size: 30px !important;
    margin-left: 5px;
  }
  #signup-page .form-field i {
    margin-top: -10px;
    margin-left: 80px !important;
  }
  #signup-page .top {
    border-bottom: 0;
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
  }
  #signup-page .top .mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 20px;
    padding-top: 2px;
  }
  #signup-page .top .mobile i {
    color: grey;
    font-size: 7vw;
  }
  #signup-page .top .navbar {
    display: none !important;
  }
  #signup-page input {
    border: 0;
  }
  #signup-page .mobile-navbar {
    margin-top: 0 !important;
    gap: 10px;
    padding-top: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    height: 100% !important;
    width: 300px;
    right: -2000px;
    top: 0;
    margin-left: 50%;
    background-color: rgb(51, 51, 51);
    align-items: start;
    color: black !important;
    transition: 0.3s !important;
  }
  #signup-page .mobile-navbar .cancel {
    padding-top: 0;
    display: flex;
    color: white;
    padding-bottom: 20px;
  }
  #signup-page .mobile-navbar .cancel i {
    font-size: 7vw;
  }
  #signup-page .mobile-navbar li {
    padding-top: 20px;
    list-style: none;
    color: white;
    align-items: center;
    text-align: center;
  }
  #signup-page .mobile-navbar li .active {
    color: orange;
  }
  #signup-page .mobile-navbar li #login {
    border: 1px solid orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  #signup-page .mobile-navbar li #login:hover {
    background-color: orange !important;
    color: white !important;
  }
  #signup-page .mobile-navbar li #signup {
    border: 1px solid orange;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  #signup-page .mobile-navbar li #signup:hover {
    background: transparent;
    color: white !important;
  }
  #signup-page .mobile-navbar li a {
    color: white;
    text-decoration: none;
  }
  #signup-page .mobile-navbar li a:hover {
    color: orange !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(14, 11, 11) !important;
    width: 100%;
  }
  .top {
    border-bottom: 0;
    position: fixed;
    z-index: 999 !important;
  }
  .top .mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 20px;
    padding-top: 20px;
  }
  .top .mobile i {
    color: grey;
    font-size: 7vw;
  }
  .top .mobile-navbar {
    gap: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: fixed;
    height: 100vh;
    width: 300px;
    right: -320px;
    top: 0;
    margin-left: 50%;
    background-color: rgb(51, 51, 51);
    align-items: start;
    color: black !important;
    transition: 0.3s !important;
  }
  .top .mobile-navbar .cancel {
    padding-top: 0;
    display: flex;
    color: white;
    padding-bottom: 20px;
  }
  .top .mobile-navbar .cancel i {
    font-size: 7vw;
  }
  .top .mobile-navbar li {
    padding-top: 20px;
    list-style: none;
    color: white;
    align-items: center;
    text-align: center;
  }
  .top .mobile-navbar li .active {
    color: orange;
  }
  .top .mobile-navbar li #login {
    border: 1px solid orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  .top .mobile-navbar li #login:hover {
    background-color: orange !important;
    color: white !important;
  }
  .top .mobile-navbar li #signup {
    border: 1px solid orange;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 20px;
  }
  .top .mobile-navbar li #signup:hover {
    background: transparent;
    color: white !important;
  }
  .top .mobile-navbar li a {
    color: white;
    text-decoration: none;
  }
  .top .mobile-navbar li a:hover {
    color: orange !important;
  }
  .top .navbar {
    display: none;
  }
  #first-reservation {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .booking-fields {
    margin-top: -50%;
    margin-right: -3000px;
    transition: 0.3s;
    height: 80%;
    justify-content: space-between;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .banner {
    gap: 0 !important;
    height: 100vh !important;
    width: 100% !important;
    background-image: url(Images/newbackalt2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .banner .mid-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
  }
  .banner .mid-button button {
    background-color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 5vw;
    font-family: monospace;
  }
  .banner .mid-button button a {
    color: grey;
    font-weight: 500;
    text-decoration: none;
  }
  .banner .intro {
    width: 80%;
    margin: auto !important;
    margin-left: 0;
    margin-top: 30% !important;
    color: white;
  }
  .banner .intro-header {
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8vw;
    font-weight: 700;
  }
  .banner .intro-body {
    width: 100%;
    font-family: sans-serif;
    font-size: 5vw;
    color: grey;
    text-align: center;
  }
  .banner .ticket {
    display: none !important;
  }
  .banner .mobile-ticket {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 300px !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 0;
    background: inherit;
    overflow: hidden;
    border-radius: 10px;
  }
  .banner .mobile-ticket label {
    display: flex;
    margin: 0 !important;
    gap: 3px;
    margin-bottom: 3px !important;
  }
  .banner .mobile-ticket i {
    color: white;
    font-size: 20px !important;
  }
  .banner .mobile-ticket span {
    display: flex;
    color: white;
  }
  .banner .mobile-ticket form {
    display: grid !important;
    -moz-column-count: 2 !important;
         column-count: 2 !important;
    row-gap: 10px;
    -moz-column-gap: 40px !important;
         column-gap: 40px !important;
    grid-template-columns: auto auto;
    justify-content: right !important;
  }
  .banner .mobile-ticket:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
  }
  .banner .mobile-ticket-buttons {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 25px;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
  }
  .banner .mobile-ticket-buttons button {
    border: 0;
    background: 0;
    color: white;
  }
  .banner .mobile-ticket-buttons button:hover {
    color: orange;
  }
  .banner .mobile-ticket-buttons button:first-child {
    margin-left: 0;
  }
  .banner .mobile-ticket-fields {
    display: grid !important;
    -moz-column-count: 2 !important;
         column-count: 2 !important;
    row-gap: 30px;
    width: 100%;
    justify-content: space-evenly !important;
    padding-top: 25px;
  }
  .banner .mobile-ticket-fields form {
    width: 100%;
    margin: auto;
  }
  .banner .mobile-ticket-fields .field {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .banner .mobile-ticket-fields select,
  .banner .mobile-ticket-fields #datepicker {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding-left: 5px;
    color: grey;
  }
  .banner .mobile-ticket-fields-button {
    margin-top: 25px;
    margin-left: 8px;
  }
  .banner .mobile-ticket-fields-button button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    border: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4vw;
    text-align: center;
    justify-content: center;
  }
  .banner .mobile-ticket-fields-button button:hover {
    background-color: white;
    color: black;
  }
  .banner .closure {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 0;
    margin-top: 7vh !important;
    position: relative;
  }
  .banner .closure .link {
    color: orange;
    margin-left: 10px;
    cursor: pointer;
  }
  .banner .closure .link:hover {
    color: white;
  }
  .banner .closure p {
    font-size: 4vw;
    color: white;
  }
  #ticket {
    width: 80%;
    height: 450px;
    margin-top: 0;
    background-color: gray;
    background: rgba(128, 128, 128, 0.8);
  }
  #ticket .ticket-header {
    padding-top: 50px;
    width: 80%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid orange;
    justify-content: space-between;
    color: white;
  }
  #ticket .ticket-header button {
    border: 0;
    padding: 0;
    background: transparent;
    color: black;
  }
  #ticket .ticket-body {
    margin-top: 20px !important;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
  }
  #ticket .ticket-end {
    margin-top: -30px !important;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #ticket .ticket-end p {
    color: orange;
  }
  #ticket .ticket-end .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #ticket .ticket-end .buttons button {
    padding: 5px 10px;
    color: white;
    background-color: black;
  }
  #ticket .ticket-end .buttons button:hover {
    color: black;
    background-color: orange;
  }
  .about {
    margin-top: 7vh !important;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
  .about-intro {
    display: flex;
    flex-direction: column;
    color: white;
  }
  .about-intro .header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    width: 100%;
    font-weight: 700;
    text-align: center;
  }
  .about-intro .body {
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }
  .about-buttons {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-buttons .active {
    color: orange;
  }
  .about-buttons button {
    border: 0;
    background: 0;
    color: white;
    font-size: 5vw;
    font-weight: 700;
  }
  .about-buttons button:hover {
    color: orange;
  }
  .about-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-body-images {
    width: auto !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between !important;
    margin-top: 20px;
    gap: 20px;
  }
  .about-body-images .upper-images {
    width: 300px;
    display: flex;
    gap: 20px;
    height: 200px;
  }
  .about-body-images .upper-images-1, .about-body-images .upper-images-2 {
    width: 150px;
    height: 100%;
  }
  .about-body-images .upper-images-1 img, .about-body-images .upper-images-2 img {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .about-body-images .lower-image {
    width: 300px;
    height: 200px;
  }
  .about-body-images .lower-image img {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .about-body-about {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .about-body-about a {
    display: flex;
    color: orange;
    text-decoration: none;
    font-style: italic;
  }
  .about-body-about .distance,
  .about-body-about .ratings {
    width: 60%;
  }
  .about-body-about button {
    border: 0;
    font-size: 14px;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    margin-left: 55%;
  }
  .about-body-about .intro {
    margin-top: -10px;
  }
  .about-body-about .intro p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
  }
  .about-body-about .number {
    display: none;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .about-body-about .km {
    font-size: 20px;
    font-weight: 100 !important;
    font-family: monospace;
  }
  .about-body-about .amount {
    color: orange;
    font-size: 2vw;
  }
  .about-body-about .hero {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
  }
  .about-body-about .hero-header {
    font-weight: bold;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .about-body-about .hero-body {
    margin-left: 2px;
    font-size: 20px;
    font-weight: 500;
  }
  .about-body-about .numbers {
    display: none !important;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 40px;
  }
  .about-body-about .numbers h4 {
    font-size: 1.2vw;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .about-body-about #rate {
    font-weight: 800;
    font-size: 1.2vw;
  }
  .about-body-about .people {
    display: none !important;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left !important;
  }
  .about-body-about .people h4 {
    font-size: 1.2vw;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .services-section {
    background-image: url(Images/serviceback.jpg) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background: 0;
    margin-top: 5vh !important;
    height: auto;
  }
  .services {
    margin-top: 0 !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .services .carousel-indicators {
    display: flex;
    gap: 5px !important;
  }
  .services .carousel-indicators .active {
    background-color: orange;
  }
  .services .carousel-indicators li {
    list-style: none !important;
    padding: 2.5px 5px;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 5px;
  }
  .services .carousel {
    padding-top: 100px !important;
    margin-top: 0 !important;
    height: 90%;
  }
  .services .carousel-item {
    width: 100%;
    height: 70%;
  }
  .services .carousel-item .body {
    width: 100%;
  }
  .services .carousel-item .body h4 {
    font-size: 8vw;
    font-weight: 700;
    text-align: center;
  }
  .services .carousel-item .body p {
    width: 100%;
    text-align: left;
    font-size: 5vw;
    text-align: center;
  }
  .services .carousel-item .card {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    border-radius: 10px;
  }
  .services .carousel-item .card:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }
  .services .carousel-item .card h4 {
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid orange;
    font-size: 6vw;
    color: white;
  }
  .services .carousel-item .card p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 5vw;
    color: white;
  }
  .article {
    height: auto;
    margin-top: 15vh !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .article-header {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  .article-header button {
    color: white;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8vw;
    font-weight: 700;
  }
  .article-header button:hover {
    color: orange;
  }
  .article-body {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto !important;
    justify-content: center;
    height: auto !important;
    gap: 3vh;
  }
  .article-body .card {
    width: 100% !important;
    height: 500px;
    margin: auto !important;
    position: relative;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(44, 43, 43);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .article-body .card:hover {
    transform: scale(1.05);
    z-index: 1;
  }
  .article-body .card img {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .article-body .card-body {
    text-align: left;
  }
  .article-body .card-body h5 {
    color: orange;
  }
  .article-body .card-body a {
    color: orange !important;
    text-decoration: none;
    display: flex;
  }
  .article-body .card-body p {
    display: block;
  }
  .travellers {
    height: auto !important;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: auto;
    color: white;
    margin-top: 15vh !important;
  }
  .travellers .carousel {
    margin-top: 0 !important;
    height: auto !important;
    padding-bottom: 100px !important;
  }
  .travellers .carousel-indicators {
    position: absolute;
    display: flex;
    gap: 10px;
  }
  .travellers .carousel-indicators .active {
    color: orange;
  }
  .travellers .carousel-indicators li {
    list-style: none !important;
    font-size: 30px;
    color: white;
  }
  .travellers-header {
    display: flex;
  }
  .travellers-header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8vw;
    font-weight: 700;
  }
  .travellers .travellers-body {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-direction: column !important;
    gap: 40px;
  }
  .travellers .travellers-body .one,
  .travellers .travellers-body .two {
    display: flex;
    gap: 20px;
  }
  .travellers .travellers-body .one .image,
  .travellers .travellers-body .two .image {
    display: none !important;
  }
  .travellers .travellers-body .one .image img,
  .travellers .travellers-body .two .image img {
    width: 150px;
    height: 180px;
    border-radius: 10px;
  }
  .travellers .travellers-body .one .bio,
  .travellers .travellers-body .two .bio {
    display: flex;
    flex-direction: column;
  }
  .travellers .travellers-body .one .bio .profile,
  .travellers .travellers-body .two .bio .profile {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .travellers .travellers-body .one .bio .profile-image img,
  .travellers .travellers-body .two .bio .profile-image img {
    border-radius: 50%;
    height: 80px;
    width: 70px;
  }
  .footer {
    position: absolute;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 20px;
    color: white;
    justify-content: center;
  }
  .footer-nav {
    width: 80%;
    margin: auto !important;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .footer-nav ul li {
    list-style: none;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */